parameters:
    autoload_files:
        - %rootDir%/../../../src/basics.php
    ignoreErrors:
        - '#Function wincache_ucache_[a-zA-Z0-9_]+ not found#'
        - '#Function xcache_[a-zA-Z0-9_]+ not found#'
        - '#Function fastcgi_[a-zA-Z0-9_]+ not found#'
        - '#Cake\\Database\\Type\\[a-zA-Z0-9_]+Type::__construct\(\) does not call parent constructor from Cake\\Database\\Type#'
        - '#Constructor of class Cake\\[a-zA-Z0-9_\\]+ has an unused parameter#'
        - '#Call to an undefined method Cake\\Console\\Shell::main\(\)#'
        - '#Access to undefined constant Memcached::OPT_CLIENT_MODE#'
        - '#Access to undefined constant Memcached::DYNAMIC_CLIENT_MODE#'
        - '#Access to undefined constant PDO::SQLSRV_ENCODING_BINARY#'
        - '#Access to undefined constant PDO::SQLSRV_ATTR_ENCODING#'
        - '#Access to an undefined property Cake\View\View::$_validViewOptions#'
        - '#Access to an undefined property Cake\Http\Client\Message::$headers#'
        - '#Access to an undefined property Cake\Http\Client\Message::$_body#'
        - '#Access to an undefined property Cake\Database\Driver::$_connection#'
        - '#Access to an undefined property Cake\Database\Log\LoggingStatement::$queryString#'
        - '#Access to an undefined static property Cake\Mailer\Email::$_registry#'
        - '#Access to an undefined property Cake\Mailer\Email::$request#'
        - '#Access to an undefined property Cake\Mailer\Email::$response#'
        - '#Access to an undefined property Cake\Mailer\Email::$_validViewOptions#'

services:
    -
        class: Cake\PHPStan\AssociationTableMixinClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
            - phpstan.broker.propertiesClassReflectionExtension
